* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('../assets/sunset-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  overflow: hidden;
}

.App {
  width: 95%;
  margin: 20px auto 0 auto;
}

.spinner {
  margin: 6rem auto;
}

.flex {
  display: flex;
}

.cards {
  justify-content: center;
  margin-bottom: 2rem;
}

.temp {
  padding-right: 4.4rem;
}

.card {
  padding-right: 0.3rem;
}

.card-size {
  width: 10rem;
  background-color: rgb(253, 192, 77) !important;
}

.weather {
  align-items: center;
  justify-content: space-around;
}

.nav {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .App {
    width: 70%;
  }

  .temp {
    padding-right: 0.4rem;
    margin-left: 6rem !important;
  }

  .refresh {
    margin-left: 8rem !important;
  }

  body {
    background-image: url('../assets/sunset.jpg');
    background-size: cover;
  }

  .bar {
    height: 5% !important;
    width: 70% !important;
    margin: 0 auto;
  }
}
