.spinner {
  margin: 6rem auto;
}

.cards {
  justify-content: center;
  margin-bottom: 2rem;
}

.nav {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .refresh {
    margin-left: 8rem !important;
  }
}
