.card {
  padding-right: 0.3rem;
}

.card-size {
  width: 10rem;
  background:
    linear-gradient(
      45deg,
      #b39ddb,
      #fff9c4
    ) !important;
}

.weather {
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .card-size {
    background:
      linear-gradient(
        45deg,
        #ffca28,
        #8ecae6
      ) !important;
  }
}
